:root {
    --question-width: 200px;
    --question-height: 100px;
}


/*Title CSS*/

/*
Visibility classes
*/
.invisible-div {
    visibility: collapse;
}
/**/
body {
    background-image: url("/assets/images/quiz_background.png");
    background-position-x: center;
    background-size: cover;
    display: flex;
    justify-content: center;

}

#menu {
    margin-top: 25%;
    background-color: aliceblue;  
    display: grid;
}

#category-dialog {
    background-color: aliceblue;
}

#categories {
    display: grid;
}

/*Quiz css*/

/*ALl colors are temp*/


#question-box {
    display:grid;
    
    margin-left: 25%;
    margin-top: 10%;

    grid-template-columns: repeat(2, var(--question-width));
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
}

#qu-title {
    grid-column: 1 / span 2;
    line-height: 3em;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
}

.question {
    background-color: aliceblue;
    border-color: aliceblue;
    border: 10px;
    border-radius: 5px;
    transition: .1s ease-in;

    width: var(--question-width);
    height: var(--question-height);
    text-align: center;
    line-height: 6em;

}

.question-hover:hover {
    background-color: #f0f0ff;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    scale: 1.05;
    transform: rotate(1deg);
}